

body{
  background-color: #31363F;
}

.main-container{
  width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px auto;

}

.center-container{
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container{
  width: 90%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-box-todo{
  width: 70%;
  height: 28px;
  padding: 2px;
  padding-left: 10px;

  font-size: 17px;
  font-weight: 500;
}

.input-box-todo:focus{
  outline: none;
  border: none;

}

.add-btn{
  width: 37px;
  height: 37px;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  border: none;
  outline: none;
  background-color: transparent;
}
.add-btn:active{
  outline: none;
  border: none;
}